<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="angel" sortOrder="999" translate="label">
			<label>Angel</label>
		</tab>
		<section id="membership" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Membership</label>
			<tab>angel</tab>
			<resource>Vgiss_Membership::config_vgiss_membership</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="purchase_ticket_group" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="multiselect">
					<label>Purchase Ticket Groups</label>
					<comment/>
					<source_model>Vgiss\Membership\Model\Config\Source\PurchaseTicketGroup</source_model>
				</field>
			</group>
		</section>
	</system>
</config>